* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  /* line-height: 1.6; */
  
}
body {
  background-color: #9a9a9a;
}
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Ensures video covers full screen */
  z-index: -1; 
  opacity: 0.98; 
  filter: blur(1px);     /* Places video behind content */
}
:root {
  --bg: #404040ee;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Layout */
.container-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 61px 1fr 40px;
  grid-template-areas: "header" "content" "footer";
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* header */
.header {
  z-index: 1000;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background-color: #141414;
  border-radius: 0  0 25px 25px ;
  /* margin: 4px 4px 0 4px ; */
  opacity: 0.9;
  outline: #ffffff 0.1px solid;
}
.header .container {
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}
.nav-link {
  text-decoration:none;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* content */
.content {
  grid-area: content;
  scroll-snap-type: y mandatory;
}

section {
  opacity: 0.98;
  outline: #ffffff 0.1px solid;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  scroll-snap-align: start;
}
.welcome-section {
  background-color: var(--bg);
  scroll-margin-top:76px ;
  min-height: calc(100vh - 91px );
  min-width: calc(100vw - 30px);
  margin: 15px;
  display: flex;
  /* background-color: bisque; */
  border-radius: 20px;
}
.welcome-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.welcome-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 60px;
  
}
.typing{
  display: inline-block;
  margin-top: 30px;
}
.text {
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 3px;
  border-right: 3px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
      typing 4s steps(29) infinite both,
      cursor .4s step-end infinite alternate;
}
@keyframes cursor {
  50%{ border-color: transparent;}
}
@keyframes typing {
  0% { width: 0; }               
  70% { width: 100%; }           
  100% { width: 100%; }          
}
.welcome-profile-pic{
  z-index: 1;
  border-radius:1rem;
}
.box {
  border-radius:1rem;
  position: relative;
  width: 410px;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.box::before {
  content: '';
  position: absolute;
  width: 650px;
  height: 650px;
  background-image: conic-gradient(transparent , transparent , transparent , gold);
  animation: animate 4s linear infinite;
}
.box::after {
  content: '';
  position: absolute;
  width: 650px;
  height: 650px;
  background-image: conic-gradient(transparent , transparent , transparent , gold);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
@keyframes animate {
  0% { rotate: 0deg; }
  100% { rotate: 1turn; }
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
.about-section {
    scroll-margin-top:76px ;
  min-height: calc(100vh - 500px );
  min-width: calc(100vw - 30px);
  margin: 15px;
  display: flex;
  /* flex-direction: column; */
  /* background-color: bisque; */
  border-radius: 20px;
  /* gap: 10px;
  justify-content: center; */
}
.about-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.about-section .container .section-title {
  animation: autoShow both ;
  animation-timeline: view(60% auto);

}
.about-content {
  animation: autoShow both ;
  animation-timeline: view(60% 1%);
  width: 80%;
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
@keyframes autoShow {
  from {
    opacity: 0;
    transform: translateZ(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1.1);
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
.skills-section {
  scroll-margin-top:76px ;
  min-height: calc(100vh - 101px );
  min-width: calc(100vw - 30px);
  margin: 15px;
  display: flex;
  /* flex-direction: column; */
  /* background-color: bisque; */
  border-radius: 20px;
  /* gap: 10px;
  justify-content: center; */
}
.skill-icon {
  width : 50px;
  height : 50px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* Footer */
footer {
  grid-area : footer;
}